@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap");

body {
}

.header {
}

.profile-image {
}

.logo {
  font-size: 1.4rem;
}

button {
}

a {
  padding: 0 20px;
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
}
